@import "../styles/variables.scss";

.Hamburger {
  margin: 1.5em 1em;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 55px;
  right: 5px;
  z-index: 100;

  @media (min-width: $tablet-width) {
    visibility: hidden;
  }

  .Icon {
    height: 40px;
    width: 40px;
    color: rgb(164, 168, 168);
  }
}
