@import "./variables.scss";

.LandingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: $headerHeight;
  margin-bottom: 1em;
  position: relative;

  .LandingImage {
    width: 100%;
    position: relative;
    content: url("../assets/linneamarcus.png");

    @media (max-width: $tablet-width) {
      content: url("../assets/linneamarcus_mobile.png");
    }
  }

  .SubHeading {
    margin-top: 0;
    font-weight: 200;
    text-align: center;
    font-variant: small-caps;
  }

  .left {
    display: flex;
    flex-direction: column;
    margin: 1em;

    h1 {
      margin: 1em;
      font-weight: 200;
      font-style: italic;
      margin-bottom: 0;
      text-align: left;
    }

    p {
      margin-right: 5em;

      &.intro {
        margin-bottom: 0;
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    margin: 1em;

    h1 {
      margin: 1em;
      font-weight: 200;
      font-style: italic;
      margin-bottom: 0;
      text-align: right;
    }

    p {
      margin-left: 5em;

      &.intro {
        margin-bottom: 0;
      }
    }
  }

  .divider {
    align-self: center;
    width: 60px;
    // border-bottom: 1px solid #af915d;
    border-bottom: 1px solid #c9a972;
    margin: 1em 1em;
  }

  .rsvp {
    margin-top: 1em;
    width: 6em;
    align-self: center;
    background-color: transparent;
    color: lightblue;
    border: 1px solid rgb(240, 227, 205);
  }
}
