@import "./variables.scss";

.LandingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: $headerHeight;
  margin-bottom: 1em;
  position: relative;

  .LandingImage {
    width: 100%;
    position: relative;
    content: url("../assets/linneamarcus.png");
    background: url("../assets/linneamarcus.png") no-repeat;

    @media (max-width: $tablet-width) {
      content: url("../assets/linneamarcus_mobile.png");
      background: url("../assets/linneamarcus_mobile.png") no-repeat;
    }
  }

  .SubHeading {
    margin-top: 0;
    font-weight: 200;
    text-align: center;
    font-variant: small-caps;
  }

  .left {
    display: flex;
    flex-direction: column;
    margin: 1em;
    margin-left: 1.5em;
    margin-top: 0;

    @media (min-width: $tablet-width) {
      margin-left: 5em;
      width: 75%;
      align-self: center;
    }

    h1 {
      margin: 1em;
      font-weight: 400;
      font-style: italic;
      margin-bottom: 0;
      text-align: left;
      font-size: 1.5em;

      .FirstLetter {
        font-size: 40px;
        line-height: 70px;
        margin-right: -7px;
      }
    }

    p {
      margin-right: 5em;
      text-align: justify;
      font-size: 1.2em;

      &.intro {
        margin-bottom: 0;
        margin-top: 0;
      }

      @media (min-width: $tablet-width) {
        margin-right: 15em;
      }

      @media (min-width: $tablet-xl) {
        margin-right: 15em;
      }
    }
  }

  .center {
    display: flex;
    flex-direction: column;
    margin: 1em;
    width: 70%;
    align-self: center;

    @media (min-width: $tablet-width) {
      width: 50%;
    }

    h2 {
      font-weight: 400;
      font-style: italic;
      text-align: center;
    }

    p {
      text-align: justify;
      margin: 0 auto;
      margin-bottom: 1em;
      font-size: 1.2em;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    margin: 1em;
    margin-right: 1.5em;
    margin-top: 0;

    @media (min-width: $tablet-width) {
      margin-right: 5em;
      width: 75%;
      align-self: center;
    }

    h1 {
      margin: 1em;
      font-weight: 400;
      font-style: italic;
      margin-bottom: 0;
      text-align: right;
      font-size: 1.5em;

      .FirstLetter {
        font-size: 40px;
        line-height: 70px;
        margin-right: -7px;
      }
    }

    p {
      margin-left: 5em;
      text-align: justify;
      font-size: 1.2em;

      &.intro {
        margin-bottom: 0;
        margin-top: 0;
      }

      @media (min-width: $tablet-width) {
        margin-left: 15em;
      }

      @media (min-width: $tablet-xl) {
        margin-left: 15em;
      }
    }
  }

  // .divider {
  //   align-self: center;
  //   width: 60px;
  //   // border-bottom: 1px solid #af915d;
  //   border-bottom: 1px solid #c9a972;
  //   margin: 1em 1em;
  // }

  ul {
    margin-top: 0;
    list-style-type: circle;
  }
}
