@import "./variables.scss";

.OverlayContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 18em;
  width: 100%;

  @media (min-width: $tablet-width) {
    top: 22em;
  }

  @media (min-width: $tablet-xl) {
    top: 25em;
  }

  .OverlayText {
    display: flex;
    flex-direction: row;
    justify-content: center;

    //   margin-top: -10em;
    z-index: 98;

    .OverlayImg {
      width: 60px;
      height: 70px;
      margin: 0 1em;
    }

    h2 {
      font-weight: 200;
      color: rgb(240, 227, 205);

      @media (min-width: $tablet-width) {
        font-size: 2em;
      }

      @media (min-width: $tablet-xl) {
        font-size: 2em;
      }
    }
  }
}
