@import "./variables.scss";

.OverlayContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 18em;
  width: 100%;

  @media (max-width: $phone-xl-width) {
    top: 15em;
  }

  @media (min-width: $tablet-width) {
    top: 22em;
  }

  @media (min-width: $tablet-xl) {
    top: 25em;
  }

  .OverlayText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 98;

    .OverlayImg {
      width: 60px;
      height: 70px;
      margin: -0.7em 0;
    }

    h2 {
      font-weight: 400;
      font-style: italic;
      color: rgb(240, 227, 205);
      margin: 0;

      @media (max-width: $phone-xl-width) {
        font-size: 1.3em;
      }

      @media (min-width: $tablet-width) {
        font-size: 2em;
      }

      @media (min-width: $tablet-xl) {
        font-size: 2em;
      }
    }
  }
}
