$backgrounColor: #c6538c;

$maxWidth: 900px;

$headerHeight: 4.5em;

$small-phone-width: 325px;
$phone-width: 400px;
$phone-xl-width: 450px;
$tablet-width: 750px;
$tablet-xl: 800px;
$large: 1100px; //breakpoint för framsidan
$x-large: 1200px;
$xx-large: 1300px;
$super-big: 1500px;
