@import "styles/variables.scss";

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;

  * {
    max-width: $maxWidth;
  }
}

// .App-header {
//   background-color: #202531;
//   // min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }
