@import "styles/variables.scss";

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  font-family: "Lato", sans-serif;
  // font-family: "Roboto", sans-serif;

  * {
    max-width: $maxWidth;
  }
}
